[submodule "1-hafta-odev-ozanpempegul"]
	path = 1-hafta-odev-ozanpempegul
	url = https://github.com/215-Protein-NET-Bootcamp/1-hafta-odev-ozanpempegul
[submodule "2-hafta-odev-ozanpempegul"]
	path = 2-hafta-odev-ozanpempegul
	url = https://github.com/215-Protein-NET-Bootcamp/2-hafta-odev-ozanpempegul
